name: branch-build

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Run Tests
        run: uv run pytest tests
        env:
          PREDICTIONGUARD_API_KEY: ${{ secrets.PREDICTIONGUARD_API_KEY }}
          PREDICTIONGUARD_URL: ${{ vars.PREDICTIONGUARD_URL }}
          TEST_CHAT_MODEL: ${{ vars.TEST_CHAT_MODEL }}
          TEST_TEXT_EMBEDDINGS_MODEL: ${{ vars.TEST_TEXT_EMBEDDINGS_MODEL }}
          TEST_MULTIMODAL_EMBEDDINGS_MODEL: ${{ vars.TEST_MULTIMODAL_EMBEDDINGS_MODEL }}
          TEST_VISION_MODEL: ${{ vars.TEST_VISION_MODEL }}
          TEST_RERANK_MODEL: ${{ vars.TEST_RERANK_MODEL }}

      - name: Build package
        run: uv build

      - name: Publish to TestPyPI
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.TESTPYPI_API_TOKEN }}
          UV_PUBLISH_URL: https://test.pypi.org/legacy/
        run: uv publish