name: branch-test

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Installing requirements and testing functions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Run Ruff
        run: uv run ruff check --ignore F401 --output-format=github .

      - name: Run Tests
        run: uv run pytest tests
        env:
          PREDICTIONGUARD_API_KEY: ${{ secrets.PREDICTIONGUARD_API_KEY }}
          PREDICTIONGUARD_URL: ${{ vars.PREDICTIONGUARD_URL }}
          TEST_CHAT_MODEL: ${{ vars.TEST_CHAT_MODEL }}
          TEST_TEXT_EMBEDDINGS_MODEL: ${{ vars.TEST_TEXT_EMBEDDINGS_MODEL }}
          TEST_MULTIMODAL_EMBEDDINGS_MODEL: ${{ vars.TEST_MULTIMODAL_EMBEDDINGS_MODEL }}
          TEST_VISION_MODEL: ${{ vars.TEST_VISION_MODEL }}
          TEST_RERANK_MODEL: ${{ vars.TEST_RERANK_MODEL }}