name: branch-test

on:
  pull_request:
    branches:
      - master

jobs:

  tests:
    name: Installing requirements and testing functions
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install Dependencies
      run: pip install pytest ruff

    - name: Run Ruff
      run: ruff check --ignore F401 --output-format=github .

    - name: Run Tests
      run: pytest tests
      env:
        PREDICTIONGUARD_API_KEY: ${{ secrets.PREDICTIONGUARD_API_KEY}}
        PREDICTIONGUARD_URL: ${{ secrets.PREDICTIONGUARD_URL}}
        TEST_MODEL_NAME: ${{ secrets.TEST_MODEL_NAME }}
        TEST_TEXT_EMBEDDINGS_MODEL: ${{ secrets.TEST_TEXT_EMBEDDINGS_MODEL }}
        TEST_MULTIMODAL_EMBEDDINGS_MODEL: ${{ secrets.TEST_MULTIMODAL_EMBEDDINGS_MODEL }}
        TEST_VISION_MODEL: ${{ secrets.TEST_VISION_MODEL }}
        TEST_RERANK_MODEL: ${{ secrets.TEST_RERANK_MODEL }}