name: branch-test

on:
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Installing requirements and testing functions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # 7.2.1

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Run Ruff
        run: uv run ruff check --ignore F401 --output-format=github .

      - name: Run Tests
        run: uv run pytest tests
        env:
          PREDICTIONGUARD_API_KEY: ${{ secrets.PREDICTIONGUARD_API_KEY }}
          PREDICTIONGUARD_URL: ${{ vars.PREDICTIONGUARD_URL }}
          TEST_CHAT_MODEL: ${{ vars.TEST_CHAT_MODEL }}
          TEST_RESPONSES_MODEL: ${{ vars.TEST_RESPONSES_MODEL }}
          TEST_TEXT_EMBEDDINGS_MODEL: ${{ vars.TEST_TEXT_EMBEDDINGS_MODEL }}
          TEST_MULTIMODAL_EMBEDDINGS_MODEL: ${{ vars.TEST_MULTIMODAL_EMBEDDINGS_MODEL }}
          TEST_VISION_MODEL: ${{ vars.TEST_VISION_MODEL }}
          TEST_RERANK_MODEL: ${{ vars.TEST_RERANK_MODEL }}